@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  /* background-color 控制元素顔色；
     color-scheme控制整體網頁顔色框架(顔色方案)，會間接影響文本、背景、鏈接顔色等 */
  background-color: black;
  color-scheme: dark;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* ::-webkit-scrollbar-track {
  background: #000;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
